<h1>Listing services</h1>

<p>Below is your services table where you can indicate to your clients which services you offer and the estimated length of time it would take to deliver those services.</p>  

<!--delete "Show" link, change text of "Destroy" link to "Delete", and change text and location of "New Service" to an + symbol to the right of Service Description-->

<table>
  <tr>
    <th>Service description</th>
    <th>Service time estimate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.service_description %></td>
    <td><%= service.service_time_estimate %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %> || <a href="/admin">Admin Page</a>
